.home-container {
    text-align: center;
    margin-top: 20px;
}
  
.page-title {
    font-size: 2rem;
    color: #87c1ff;
}
  
.welcome-text {
    font-size: 1.2rem;
    color: #333;
}
  
.link-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.link-button:hover {
    background-color: #0056b3;
}