html {
    height: 100%;
}
  
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}
  
body {
    margin: 0;
    background-color: #438163;
    animation: siteload 0.2s;
    font-family: 'Chewy', cursive;
}
  
@keyframes siteload {
    from {
       opacity: 0.25;
    }
    to {
       opacity: 1;
    }
}
  
/* Header Related */
#logotype {
    border-style: solid;
    border-width: 2px;
    min-height: 225px;
    background-image: url("./assets/mushroombanner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #5fd19a;
    cursor: pointer;
}
  
.header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: stretch;
    padding: 10px;
    background-color: #f8f8f8;
    gap: 15px;
}
  
@media (max-width: 768px) {
    .header-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
    #headerbuttons {
          text-align: center;
          margin-top: 10px;
    }
}
  
#headerdiv {
    border-style: solid;
    border-width: 2px;
    font-size: 32px;
    background-color: #5fd19a;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
/* Home */
.home-container {
    text-align: center;
    margin-top: 20px;
  }
  
.page-title {
    font-size: 2rem;
    color: #007bff;
}
  
.welcome-text {
    font-size: 1.2rem;
    color: #333;
}
  
.link-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.link-button:hover {
    background-color: #0056b3;
}